.form_style_hight {
  height: 100vh;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain; */
  /* height: -webkit-fill-available; */
  /* width: 100%; */
  background-size: cover;
  background-position: center center;
}

.bg_carouselParent .css-1ejzhdh,
.bg_carouselParent .css-18n711y,
.bg_carouselParent .css-2dm4k {
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
}
/* .login_top_btn {
  display: flex;
  justify-content: end;
} */
.login_lngug {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19.36px !important;
}
.login_lngug_main_box {
  /* border: solid; */
  width: 185.77px !important;
  height: auto !important;
  background-color: #ffffff !important;
}
.login_lnguag_text_font_style {
  font-weight: 400 !important;
  font-size: 12.49px !important;
  line-height: 15.12px !important;
  color: #0057b7 !important;
}
.login_lnguag_text_font_style:hover {
  font-weight: 400 !important;
  font-size: 22.25 !important;
  font-size: 22.25px !important;
  padding-left: 19px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  border-left: solid #0057b7 6px !important;
  color: #0057b7 !important
  ;
}
.login_lnguag_text_font_style_active {
  font-weight: 400 !important;
  font-size: 22.25 !important;
  font-size: 22.25px !important;
  padding-left: 19px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  border-left: solid #0057b7 6px !important;
  color: #0057b7 !important
  ;
}
.login_lgnug_ {
  color: #ffffff !important;
}
.login_business_font_style {
  font-size: 28px !important;
  font-weight: 400 !important;
  line-height: 40.07px !important;
  color: #ffffff !important;
  width: 326px !important;
}
.login_form_main_box {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.input_Style {
  /* width: 360px !important; */
  width: 286px !important;
  border: solid 2px white !important;
  border-radius: 6px !important;
}
.input_Style::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red !important;
}

.input_Style::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  background-color: #898ea6;
  top: 0;
  bottom: 0;
  opacity: 0.44;
}
.input_Style div {
  position: relative;
  z-index: 1;
  height: 49px !important;
}
.input_Style input {
  font-weight: 400 !important;
  padding-left: 10px !important;
  font-size: 16.25px !important;
  color: white;
}
.input_Style .css-1b57ao2-MuiInputBase-root-MuiOutlinedInput-root,
.input_Style .css-e303lq {
  padding-right: 0 !important;
}
.input_password_icon {
  width: 17px !important;
  height: 17px !important;
  color: #fff;
}
/* 
.input_Style .css-1ea1xhh-MuiInputBase-input-MuiOutlinedInput-input,
.input_Style .css-vxvc7x-MuiInputBase-input-MuiOutlinedInput-input {
  font-weight: 400 !important;
  padding-left: 20px !important;
  font-size: 16.25px !important;
} */
.languageChangeBtn {
  width: 150px !important;
  height: 50px;
  margin-right: 15px;
}

.navbarRegisterBtn {
  padding: 12px !important;
  width: 143px;
  margin-right: 20px !important;
}

/* // new css */
.language_parentBox .css-1wu7ecg-MuiSvgIcon-root-MuiSelect-icon {
  position: absolute;
  transform: translate(-70px, 0px);
}
.language_parentBox .css-gofekn-MuiSvgIcon-root-MuiSelect-icon {
  transform: translate(-70px, 0px) rotate(180deg);
}
.language_parentBox .css-9425fu-MuiOutlinedInput-notchedOutline {
  border: 0px !important;
}
.login_button {
  padding: 12px 0 !important;
  box-shadow: none !important;
  width: 286px !important;
  height: 49px !important;
  font-size: 15.37px !important;
  font-weight: 400 !important;
  line-height: 18.44px !important;
}
.cursor {
  cursor: pointer !important;
}
.logo_parentBox {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  /* width: -webkit-fill-available;
  position: absolute;
  top: 0;
  transform: scale(1.33);
  object-fit: scale-down; */
}
.login_forget_font_style {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19.77px !important;
  color: #ffffff !important;
}

.MuiMenu-paper {
  padding: y 0px !important;
  background: transparent !important;
}
.Mui-selected.custom-menu-item {
  border-radius: 0% !important;
  /* / background: transparent !important; / */
  transform: scale(1.3) translateX(15px) !important;
}
.custom-menu-item {
  /* / margin: y 5px; / */
  background: whitesmoke !important;
  transition: transform 0.2s ease, background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.5 !important;
}

.custom-menu-item:hover {
  transform: scale(1.3) translateX(19px) !important;
  background: transparent !important;
  width: auto !important;
  line-height: 1.5;
}

/* register form css */

.register_form_main {
  height: auto;
}
.firstName_textfield {
  border-bottom: 1px solid white !important;
  margin-top: 15px !important;
}

.country_textfield {
  border-bottom: 1px solid white !important;
  margin-top: 15px !important;
  width: 98%;
}

.button_addfile {
  display: none !important;
}

.textarea {
  padding: 10px;
  outline: none;
  margin-top: 15px;
  width: 100%;
}

.icon_style {
  border: solid;
  border-radius: 12px;
  padding: 3px;
}
/* register form css */

/* guidline form css */

.guideline_point_style {
  width: 50%;
  text-align: center;
}

/* // new css */
.icon_style {
  border: solid;
  border-radius: 12px;
  padding: 3px;
}
/* guidline form css */

/* footer css */
.footer_parentBox {
  padding-top: 5rem !important;
  padding-bottom: 2.5rem !important;
}
.footer_parentBox .css-3xwkuk-MuiTypography-root {
  padding-bottom: 20px !important;
  font-size: 14px;
  font-weight: 100 !important;
}
.footer_parentBox .css-x9ziwm-MuiTypography-root {
  font-size: 31px;
  font-family: fangsong;
}
.footer_parentBox .css-1y9xp2d {
  padding-bottom: 65px;
}
.footer_parentBox .css-ati914-MuiTypography-root {
  font-size: 15.5px;
}
.footer_parentBox .css-ati914-MuiTypography-root span {
  font-size: 12px;
}

.footer_text_font {
  line-height: 12.1px !important;
  letter-spacing: 8% !important;
  font-weight: 400 !important;
  font-size: 10px !important;
  color: #fff;
}

.footer_parentBox .css-12y4fal,
.footer_parentBox .css-gg4vpm {
  margin: 0 auto;
  width: 85rem;
}
.footer_right_side_text {
  line-height: 20.51px !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  color: #fff;
}
/* footer css */
/* pages css */
.carousel_parentBox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_Box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
}
.main_Box .center_parentBox {
  flex: auto;
}
.main_Box .footer_parentBox {
  margin-top: auto;
}
/* pages css */

/* navBar css */
.navbar_backGroud_clr {
  background-color: #252525;
}
.navBar_left_side_logo_wt_ht {
  width: 145px !important  ;
}
.navBar_left_side_Text_font_style {
  /* border: solid red; */
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 13.36px !important;
  color: #000000;
}
.navbar_parent {
  padding-right: 1px !important;
}
.toggle_parent {
  position: relative;
  width: 10rem;
}
.toggle_parent .inner_toggleParent {
  position: absolute;
  top: 0;
  right: 0;
}

.toggle_parent .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background-color: #252525;
}
.toggle_parent .css-t7axzy-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: 20px !important;
  position: relative;
}
.toggle_parent .css-o4b71y-MuiAccordionSummary-content {
  margin: 0px !important;
}

.toggle_parent .css-pwcg7p-MuiCollapse-root {
  min-height: 0px;
  height: 0px;
  background: rgb(37, 37, 37);
}

/* // new css */
.iconsNavbar {
  margin-bottom: 3px;
  height: 17px !important;
}

.navBar_link {
  text-decoration: none;
  color: #252525;
  margin-top: 2px !important;
}
.navBar_link_btn {
  text-decoration: none;
  color: #252525;
}
.navBar_link:hover {
  color: #252525;
}
.navbar_linkcss {
  height: 33px;
  align-items: center;
  border-radius: 18.5px;
  padding: 0px 10px;
  background: #0057b7;
}

.navbar_linkFont p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
}
.navbar_linkcss .active_link p {
  color: #ffffff !important;
}
.navbar_notActive img {
  filter: invert(1);
}
.navbar_linkcss img {
  filter: saturate(0.5);
}
.navbar_linkcss .navbar_linkFont p a {
  color: #ffffff;
}
.navbar_parent::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  height: 13rem;
  opacity: 0.8;

  background: linear-gradient(
    0deg,
    rgba(225, 225, 225, 402) -5.99%,
    rgba(225, 225, 225, -511.729167) 1.48%,
    #ffffff 51.78%
  );
}
.z_index {
  z-index: 1;
}
.navbar_linkFont .css-k008qs {
  align-items: center !important;
}
.navBar_rightRuberFontStyle {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16.8px !important;
  color: #0057b7 !important;
}
/* navBar css */

/* home page css prnt*/
.homePage_searchButton {
  border-radius: 0 !important;
  border-top-right-radius: 10px !important ;
  border-bottom-right-radius: 10px !important ;
  height: 64px !important;
}
.guest_roomsBox {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}
.guest_roomsBox .homePage_searchButton {
  padding: 36.5px 16px !important;
  width: 150px;
  border-radius: 0px !important;
}
/* home page css prnt */

/* date pick css  */
.search_box_main_border {
  border: 2px solid #0057b7 !important;
}
.search_box_border {
  border-left: 2px solid #0057b7 !important;
}

.Mui-selected {
  border-radius: 10px !important;
}
.Mui-selected:hover {
  border: none !important;
}

.MuiDateRangePickerDay-dayOutsideRangeInterval {
  color: white !important;
  font-size: larger !important;
}

.MuiDateRangePickerDay-dayInsideRangeInterval {
  color: white !important;
  font-size: larger !important;
}

.MuiSvgIcon-fontSizeInherit {
  border-radius: 100%;
  color: white;
  border: 1px solid #a1887f;
}

/* .MuiDayCalendar-header .MuiDayCalendar-weekDayLabel {
  color: white !important;
} */

.confirmDatebutton {
  height: 45px;
  border-radius: 0 !important;
  width: 250px;
}

.MuiPickersDay-today {
  border: 0 !important;
}

.stay_select {
  letter-spacing: 0 !important;
  line-height: 1 !important;
  padding: 0px !important;
}

.date_pickerBox {
  position: absolute;
  left: 0;
  right: 0;
}
.date_pickerBox
  .css-8eaegj-MuiPaper-root-MuiAccordion-root.Mui-expanded:last-of-type,
.date_pickerBox
  .css-t7axzy-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  position: relative;
}
.date_pickerBox .css-pwcg7p-MuiCollapse-root {
  position: absolute;
  transform: translate(0px, -18px);
  width: 50rem;
}
.date_pickerBox .css-fz8a21-MuiDateRangeCalendar-root {
  justify-content: space-around !important;
}
.date_pickerBox .css-fz8a21-MuiDateRangeCalendar-root div[style] {
  display: none;
}
.date_pickerBox .MuiBox-root .css-4ukj1x-MuiTypography-root {
  margin-bottom: 10px !important;
}
.date_pickerBox .css-cxmp86 {
  padding: 0px 15px;
}
.date_pickerBox .css-1v6chqf {
  background-color: #ffffff;
  width: 76rem;
  position: absolute;
  top: 73px;
}

.date_active .css-1v6chqf {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes css-1v6chqf {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.date_pickerBox .css-1v8yqdb-MuiPickersArrowSwitcher-root,
.date_pickerBox .css-i5q14k-MuiDayCalendar-header span,
.date_pickerBox .css-12p2adl-MuiDayCalendar-monthContainer button {
  color: #0057b7 !important;
}
.date_pickerBox .css-1v8yqdb-MuiPickersArrowSwitcher-root svg {
  color: #0057b7 !important;
  font-size: 30px;
}

.date_pickerBox .css-1v8yqdb-MuiPickersArrowSwitcher-root span,
.date_pickerBox .css-i5q14k-MuiDayCalendar-header span {
  font-size: 13px;
  font-weight: 500;
}
.css-12p2adl-MuiDayCalendar-monthContainer button {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
}
.date_pickerBox
  .css-cyzddl-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition:not {
  color: white !important;
}

.date_pickerBox .dateShow_text {
  display: block;
  height: 1.42rem;
  transform: translate(0px, -10px);
}
.date_pickerBox .css-gg4vpm,
.date_pickerBox .css-1cpssoz-MuiTypography-root {
  display: flex;
  align-items: center;
}
/* date pick css  */

/* guest component css */
.guest_icon {
  border: solid;
  border-radius: 12px;
  color: wheat;
  cursor: pointer;
}
.guest_select {
  letter-spacing: 0 !important;
  line-height: 1 !important;
  padding: 0px !important;
}
.guest_inputParent {
  width: 100%;
  position: relative;
}
.guest_inputParent .css-8eaegj-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  position: relative;
}
.guest_inputParent .css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
}
.guest_inputParent .css-pwcg7p-MuiCollapse-root {
  position: absolute;
  background: #ffff;
  left: 0;
  right: 0;
  transform: translate(-25rem, 0px);
  width: 58rem !important;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.guest_inputParent .css-150nlgc-MuiAccordionDetails-root {
  padding: 4px 25px 8px;
}
.guest_inputParent .MuiBox-root .css-4ukj1x-MuiTypography-root {
  margin-bottom: 10px !important;
}
.guest_inputParent .css-1l53c0y-MuiGrid-root .MuiBox-root svg {
  color: #0057b7;
  border: 1px solid #0057b7;
}

.incremen_plus {
  background-color: blue;
  color: white !important;
  border: solid;
  border-radius: 12px;
  /* color: wheat; */
  cursor: pointer;
}
.decremen_minus {
  background-color: white;
  color: black;
  border: solid;
  border-radius: 12px;
  /* color: wheat; */
  cursor: pointer;
}
.guest_inputParent .open_guestDropdown {
  background: #ffffff;
  position: absolute;
  left: -190px;
  right: 0;
  top: 73px;
  width: 50rem;
  z-index: 99;
  padding: 5px;
  padding: 10px 20px;
}
.guest_inputParent .open_guestDropdown {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes open_guestDropdown {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
.guest_roomsBox .css-19zvbik {
  padding: 0 15px;
}
.guest_roomsBox .css-1cpssoz-MuiTypography-root,
.guest_roomsBox .css-gg4vpm {
  display: flex;
  align-items: center;
}
.guest_roomsBox .destination_select {
  height: 1.42rem;
  transform: translate(0px, -5px);
}
/* guest component css */

/* destination css */
.point_cursor {
  cursor: pointer;
}
.destination_hding_css {
  cursor: pointer !important;
  background-color: blue !important;
  height: 26px !important;
  min-height: 26px !important;
  border: solid 2px;
  color: #ffff !important;
}
.destination_hding_css .css-8xiiju-MuiTypography-root {
  color: #fff;
}
.destination_hding_css div:nth-child(2) {
  transform: rotate(360deg) !important;
}
.destination_type_css {
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 13.31px !important;
  letter-spacing: 13.5% !important;
  color: #757575 !important;
  cursor: pointer;
}
.destination_type_Btn_css {
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 13.31px !important;
  letter-spacing: 13.5% !important;
  cursor: pointer;
  border-bottom: 1px blue !important;
}

.destination_select {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19.36px !important;
  margin-top: 1.22px !important;
  margin-bottom: 1.22px !important;
}
.destination_select_first {
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 15.75px !important;
  height: 48px !important;
  /* display: flex !important; */
  /* align-items: center !important; */
}
.destination_selectorBox {
  position: absolute;
  left: 0;
  right: 0;
}

.destination_select_second {
  /* font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  letter-spacing: 13.5%; */
  color: #757575;
  /* letter-spacing: 13.5%; */
  font-weight: 500 !important;
  font-size: 13px !important;
  line-height: 15.75px !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
}

.destination_selectorBox
  .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
}
.destination_selectorBox .css-o4b71y-MuiAccordionSummary-content.Mui-expanded,
.destination_selectorBox .css-1ddsz0-MuiTypography-root {
  margin: 0 !important;
}
.destination_selectorBox
  .css-t7axzy-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded,
.destination_selectorBox
  .css-t7axzy-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  height: 0px !important;
}
.destination_selectorBox .css-150nlgc-MuiAccordionDetails-root {
  padding: 5px 14px 8px !important;
}
.css-150nlgc-MuiAccordionDetails-root
  .css-t7axzy-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  background-color: #393732;
  height: 0px !important;
  min-height: 33px !important;
  border-radius: 5px !important;
}

.destination_selectorBox .MuiBox-root .css-1iszri5-MuiTypography-root {
  margin-bottom: 10px !important;
  /* border: 2px solid red !important; */
}
.destination_selectorBox .css-klkp6i-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
.destination_selectorBox
  .css-klkp6i-MuiPaper-root-MuiAccordion-root:last-of-type {
  border-radius: 0px !important;
}
/* destination css */

@media (max-width: 768px) {
  .guideline_point_style {
    width: 95%;
    text-align: center;
  }
  .displayNone {
    display: none !important;
  }
  .search_box_main_border {
    border: none !important  ;
  }
  .search_box_border {
    border: none !important;
    margin-top: 6rem !important  ;
  }
  .media_quari_box_style {
    z-index: 99999 !important;
    position: absolute !important;
    width: 100% !important;
    padding: 0px !important;
    margin-top: 10px !important;
    background-color: #ffffff;
  }
  .destination_selectorBox .css-150nlgc-MuiAccordionDetails-root {
    padding: 0px 0px 0px !important;
  }
  /* .destination_main_box_media {
    height: 76px !important  ;
  } */
  .destination_selectorBox .destination_main_box_media {
    line-height: 15px !important;
  }
  .destination_selectorBox .destination_select {
    font-size: 15px !important;
  }
  .homePage_searchButton {
    display: none !important;
  }
}

/* @media (max-width: 768px) {
  .input_Style {
    width: 21rem;
  }
  .login_top_btn {
    display: flex;
    justify-content: center;
  }
  .navbarRegisterBtn {
    padding: 6px !important;
    width: 143px;
    margin-right: 20px !important;
  }
  .languageChangeBtn {
    height: 40px;
    width: 134px;
    margin-right: 0px;
  }
} */

/* ----------------------------card hotel details with map */
.card-content-paragraph {
  padding: 0px !important;
  padding-bottom: 0px !important;
}

.my-account-fc-label
  .MuiTypography-root
  .MuiTypography-caption
  .css-15b6asd-MuiTypography-root {
  font-size: '12px';
  line-height: '0px' !important;
}

.my-ac-select-menu {
  background-color: #ffffff !important;
}
.my-ac-select-menu:hover {
  background: #d9d7d7 !important;
}
.language_dropdownParent .login_lngug_main_box {
  position: absolute !important;
  transform: translate(40px, 0px) !important;
}
.language_dropdownParent .login_lngug_main_box p {
  padding: 7px 10px !important;
}
